name: Build libSkiaSharp for Multiple Architectures

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x64, arm64, loong64] # 恢复矩阵，支持多个平台
    container: 
      image: ubuntu:24.04
    steps:
      - name: Install System Dependencies
        run: |
          apt-get update
          apt-get install -y git python3 python3-setuptools ninja-build clang curl
          if [ "${{ matrix.target }}" = "arm64" ]; then
            apt-get install -y binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
          elif [ "${{ matrix.target }}" = "loong64" ]; then
            apt-get install -y binutils-loongarch64-linux-gnu gcc-loongarch64-linux-gnu g++-loongarch64-linux-gnu
          fi

      - name: Checkout SkiaSharp
        uses: actions/checkout@v4
        with:
          ref: cc78b59339e105eac27f31317ba8501e7932693b
          submodules: recursive
          fetch-depth: 0

      - name: Sync Skia Dependencies
        run: |
          cd externals/skia
          python3 tools/git-sync-deps

      - name: GN Generate
        run: |
          cd externals/skia
          
          EXTRA_CFLAGS='["-DSKIA_C_DLL"]'
          if [ "${{ matrix.target }}" = "loong64" ]; then
            EXTRA_CFLAGS='["-DSKIA_C_DLL", "-DPNG_LOONGARCH_LSX_OPT=0"]'
          fi

          ./bin/gn gen "out/linux/${{ matrix.target }}" --args='is_official_build=true
            skia_enable_tools=false
            target_os="linux"
            target_cpu="${{ matrix.target }}"
            skia_use_icu=false
            skia_use_sfntly=false
            skia_use_piex=true
            skia_use_system_expat=false
            skia_use_system_freetype2=false
            skia_use_system_libjpeg_turbo=false
            skia_use_system_libpng=false
            skia_use_system_libwebp=false
            skia_use_system_zlib=false
            skia_enable_gpu=true
            skia_use_fontconfig=false
            skia_use_system_harfbuzz=false
            extra_cflags='$EXTRA_CFLAGS'
            extra_ldflags=["-static-libstdc++", "-static-libgcc"]
            linux_soname_version="119.0.0"
            is_component_build=false'

      - name: Ninja Build
        run: |
          cd externals/skia
          ninja -C "out/linux/${{ matrix.target }}" SkiaSharp

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libskiasharp-linux-${{ matrix.target }}
          path: |
            externals/skia/out/linux/${{ matrix.target }}/libSkiaSharp.so*