name: Build libSkiaSharp for arm64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Install System Dependencies
        run: |
          apt-get update
          apt-get install -y git python3 python3-setuptools ninja-build clang curl

      - name: Checkout SkiaSharp
        uses: actions/checkout@v4
        with:
          ref: main
          submodules: recursive
          fetch-depth: 0

      - name: Sync Skia Dependencies
        run: |
          cd externals/skia
          python3 tools/git-sync-deps

      - name: GN Generate
        run: |
            cd externals/skia
            EXTRA_CFLAGS='["-DSKIA_C_DLL"]'
            ./bin/gn gen "out/linux/${{ matrix.target }}" --args="is_official_build=true
            skia_enable_tools=false
            target_os=\"linux\"
            target_cpu=\"${{ matrix.target }}\"
            skia_use_icu=false
            skia_use_sfntly=false
            skia_use_piex=true
            skia_use_system_expat=false
            skia_use_system_freetype2=false
            skia_use_system_libjpeg_turbo=false
            skia_use_system_libpng=false
            skia_use_system_libwebp=false
            skia_use_system_zlib=false
            skia_enable_gpu=true
            skia_use_fontconfig=false
            skia_use_system_harfbuzz=false
            extra_cflags=$EXTRA_CFLAGS
            extra_ldflags=[\"-static-libstdc++\", \"-static-libgcc\"]
            linux_soname_version=\"119.0.0\"
            is_component_build=false"

      - name: Ninja Build
        run: |
          cd externals/skia
          ninja -C "out/linux/${{ matrix.target }}" SkiaSharp

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libskiasharp-linux-${{ matrix.target }}
          path: |
            externals/skia/out/linux/${{ matrix.target }}/libSkiaSharp.so*