name: Build libSkiaSharp for X64 Linux
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git python3 python3-setuptools ninja-build clang curl

      - name: Checkout SkiaSharp
        run: |
          git clone https://github.com/Uotan-Dev/SkiaSharp
          cd SkiaSharp
          git checkout cc78b593

      - name: Sync Skia Dependencies
        run: |
          cd externals/skia
          python3 tools/git-sync-deps

      - name: GN Generate
        run: |
          cd externals/skia
          
          EXTRA_CFLAGS='["-DSKIA_C_DLL"]'

          ./bin/gn gen "out/linux/x64" --args='is_official_build=true
            skia_enable_tools=false
            target_os="linux"
            target_cpu="x64"
            skia_use_icu=false
            skia_use_sfntly=false
            skia_use_piex=true
            skia_use_system_expat=false
            skia_use_system_freetype2=false
            skia_use_system_libjpeg_turbo=false
            skia_use_system_libpng=false
            skia_use_system_libwebp=false
            skia_use_system_zlib=false
            skia_enable_gpu=true
            skia_use_fontconfig=false
            skia_use_system_harfbuzz=false
            extra_cflags='$EXTRA_CFLAGS'
            extra_ldflags=["-static-libstdc++", "-static-libgcc"]
            linux_soname_version="119.0.0"
            is_component_build=false'

      - name: Ninja Build
        run: |
          cd externals/skia
          ninja -C "out/linux/x64" SkiaSharp

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libskiasharp-linux-x64
          path: |
            externals/skia/out/linux/x64/libSkiaSharp.so*
